$bg-gray: #f8f8f7;
$bg-gray-transparent: rgba(248, 248, 247, 0.8);
$text-light-gray: #c4c4c4;
$navy: #142f3f;
$blue: #469abd;
$light-blue: #9ed7e0;
$light-blue-transparent:  rgba(158, 215, 224, 0.5);
$orange: #f6695d;
$text-gray: #3c484e;
$white: #fff;
$black: #000;
$box-shadow-black: rgba(0, 0, 0, 0.16);

$bold: 600;
