.post-feed {
    display: flex;
    flex-direction: column;
}

.post-card {
    padding: 16px;
    margin-bottom: 16px;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 0 0 0 $box-shadow-black;
    transition: box-shadow 0.3s linear;
}

.post-card:hover {
    text-decoration: none;
    box-shadow: 0 3px 6px 0 $box-shadow-black;
}

.post-card-tags {
    margin: 0 0 5px 0;
    font-size: 1.4rem;
    line-height: 1.15em;
    color: $blue;
}

.post-card-title-block {
    display: flex;
}

.post-card-date {
    margin-left: 15px;
    font-size: 12px;
}

.post-card-title {
    margin: 0 0 10px 0;
    padding: 0;
    color: $orange;
}

.post-card-excerpt {
    font-size: 1.6rem;
    line-height: 1.55em;
}

.post-card-image {
    margin: 0 0 10px 0;
    width: auto;
    height: 200px;
    background: $navy no-repeat center center;
    background-size: cover;
}

.post-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
    color: $navy;
}

.post-card-footer-left {
    display: flex;
    align-items: center;
}

.post-card-footer-right {
    display: flex;
    flex-direction: column;
}

.post-card-avatar {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-avatar .author-profile-image {
    display: block;
    width: 100%;
    background: $navy;
    border-radius: 100%;
    object-fit: cover;
}

.post-card-avatar .default-avatar {
    width: 26px;
}

.post-full-content {
    width: 100%;
    padding: 5%;
    margin: -2vw auto 0;
    background: $bg-gray-transparent;
}

.post-feature-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-feature-image img {
    width: 80vw;
    height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
}

.post-full-author-name {
    display: flex;
    @include minor-title;
}

.post-card-published-date {
    font-size: 16px;
}

.post-card-separator-line {
    border: 1px solid $orange;
}
