.Header__block {
    display: flex;
    justify-content: space-between;
}

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: $bg-gray;
    background-position: center;
    background-size: cover;
}

.Header__parallax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-logo {
    height: 25px;
}

.site-mast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -700px;

    @media (max-width: 950px) {
        margin-top: -650px;
    }

    @media (max-width: 840px) {
        margin-top: -600px;
    }
}

.site-mast-right {
    display: flex;
    align-items: center;
}
