.Header__parallaxBlock {
    position: absolute;
    top: 0;
    width: 100vw;
    pointer-events: none;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    align-items: center;
=======
>>>>>>> 716206e (tags fixed)
}

.Header__block {
    display: flex;
    justify-content: space-between;
}

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
}

<<<<<<< HEAD
.Header__parallaxBlock--front {
    z-index: 20;
=======
.Header__parallax--front {
    z-index: 20;
    position: inherit;
>>>>>>> a9ec9df (parallax working as desired in who we are)
    width: 100vw;
}

.Header__parallax {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1050px;

    @media (max-width: 1119px) {
        gap: 90vw;
    }

    @media (max-width: 700px) {
        gap: 96vw;
    }
}

.site-logo {
    height: 50px;
    padding-left: 20px;
}

.site-mast {
    display: flex;
    justify-content: space-between;
    margin-bottom: -50px;
}

.site-mast-right {
    display: flex;
    align-items: center;
}
