.ContentCard__block {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0;
    cursor: pointer;
    margin-left: calc((1800px - 1120px)/2 + 4vw);
    width: 1400px - calc((1800px - 1120px)/2 + 4vw);

    @media (max-width: 1799px) {
        margin-left: calc((100vw - 1120px)/2 + 4vw);
        width: calc(96vw - (100vw - 1120px)/2);
    }

    @media (max-width: 1119px) {
        margin-left: 4vw;
        width: 96vw;
    }
}

.ContentCard__blockTitle {
    @include large-subheader-font;
    @include serif-font;
    margin: 0;
    line-height: 1;
}

.ContentCard__item {
    min-width: 275px;
    height: auto;
    margin: 0 15px;
    box-shadow: 0 3px 6px 0 $box-shadow-black;
    background-color: #ffffff;
}

.ContentCard__item--active {
    box-shadow: 4px 6px 8px 0px $box-shadow-black;
}

.ContentCard__cardNumber {
    text-align: right;
    color: $text-light-gray;
    @include serif-font;
    @include emphasized-font;
}

.ContentCard__title {
    color: $blue;
    @include minor-title;
}

.ContentCard__text {
    @include serif-font;
    flex-grow: 1;
}

.ContentCard__button {
    align-self: flex-end;
}

.ContentCard__clickDrag {
    height: 100px;
    width: auto;
    align-self: center;
}

.ContentCard__link {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
}

.ContentCard__link,
.ContentCard__link p,
.ContentCard__link:hover, {
    text-decoration: none;
    color: $navy;
}

.ContentCard__link p {
    flex-grow: 1;
}
