.Index__banner {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 2.0rem;
    line-height: 1.4em;
    color: $navy;
    width: 70%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.Index__arrowButtonBlock {
    display: flex;
    height: 40px;
    align-items: center;
    margin-top: 15px;
    margin-left: -12px;
}

.Index__arrowButton {
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.Index__bodyBlock {
    padding: 3em 0;

    @media (max-width: 768px) {
        padding: 1.5em 0;
    }
}

.Index__blockCustomCursor,
.Index__blockCustomCursor a,
.Index__blockCustomCursor .Index__postCardBlock {
    cursor: none;
}

.Index__PostCardBlockTitle {
    @include large-subheader-font;
    @include serif-font;
    margin: 0;
    line-height: 1;
}

.Index__postCardBlock {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0;
    cursor: pointer;
    margin-left: calc((1800px - 1120px)/2 + 4vw);
    width: 1400px - calc((1800px - 1120px)/2 + 4vw);

    @media (max-width: 1799px) {
        margin-left: calc((100vw - 1120px)/2 + 4vw);
        width: calc(96vw - (100vw - 1120px)/2);
    }

    @media (max-width: 1119px) {
        margin-left: 4vw;
        width: 96vw;
    }
}

.Index__clickDragBlock {
    align-self: center;
    height: 100px;
    width: auto;
}

.Index__cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}
.Index__cursor--small {
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    z-index: 11000;
    background: $blue;
}
.Index__cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}
