.Index__arrowButton {
    transform: rotate(90deg);
    height: 75px;
    width: 75px;
    margin-top: 15px;
    margin-left: -12px;
}

.Index__bodyBlock {
    padding: 3em 0;

    @media (max-width: 768px) {
        padding: 1.5em 0;
    }
}

.Index__blockCustomCursor,
.Index__blockCustomCursor a,
.Index__blockCustomCursor .ContentCard__block {
    cursor: none;
}

.Index__partnersLogosBlock {
    background-color: $white;
    box-shadow: 0 3px 6px 0 $box-shadow-black;
    margin-bottom: 100px;
}
