.IndexPostCard__item {
    min-width: 275px;
    width: 40%;
    height: auto;
    margin: 0 15px;
    box-shadow: 0 3px 6px 0 $box-shadow-black;
    background-color: #ffffff;
}

.IndexPostCard__item--active {
    box-shadow: 4px 6px 8px 0px $box-shadow-black;
}

.IndexPostCard__cardNumber {
    text-align: right;
    color: $text-light-gray;
    @include serif-font;
    @include emphasized-font;
}

.IndexPostCard__title {
    color: $blue;
    @include minor-title;
}

.IndexPostCard__text {
    @include serif-font;
    flex-grow: 1;
}

.IndexPostCard__button {
    align-self: flex-end;
}

.IndexPostCard__clickDrag {
    height: 100px;
    width: auto;
    align-self: center;
}

.IndexPostCard__link {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
}

.IndexPostCard__link,
.IndexPostCard__link p,
.IndexPostCard__link:hover, {
    text-decoration: none;
    color: $navy;
}

.IndexPostCard p {
    flex-grow: 1;
}
