.Layout__viewport {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.Layout__viewport--top {
    position: relative;
    z-index: 2;
}

.Layout__contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.Layout__banner {
    max-width: 80%;
    text-align: left;
}

.Layout__bannerTitle {
    margin: 0;
    padding: 20px 0 0 0;
    color: $navy;
    font-size: 6rem;
    line-height: 1em;
    width: 80%;
    @include serif-font;

    @media (max-width: 480px) {
        font-size: 4rem;
        width: 100%;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 5.5rem;
    }
}

.Layout__headerBlock {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Layout__main {
    padding: 0 0 3vw 0;
}

.Layout__main--home {
    margin-top: 0;
    padding: 0;
}

.Layout__headerLogo {
    height: 70px;
    padding-left: 20px;
}

.Layout__mast {
    display: flex;
    justify-content: space-between;
    margin-bottom: -50px;
}

.Layout__footer {
    padding: 20px 0 40px 0;
    color: rgba(255,255,255,0.7);
    font-size: 1.3rem;
    background: var(--color-base);
}

.Layout__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.Layout__topNavigation {
    display: flex;
    flex-direction: column;
    width: 175px;
}

.Layout__footerNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Layout__footerNavigation a {
    color: rgba(255,255,255,0.7);
}

.Layout__footerNavigation a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.Layout__footerNavigation--right a {
    display: inline-block;
    padding: 2px 5px;
}

.Layout__footerNavigation--right a:last-child {
    padding-right: 0;
}

.Layout__parallaxBlock {
    position: absolute;
    top: 0;
    max-width: 1800px;
    width: 100vw;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Layout__parallaxBlock--front {
    z-index: 20;
    max-width: 1800px;
    width: 100vw;
}

.Layout__parallax {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1050px;

    @media (max-width: 1119px) {
        gap: 90vw;
    }

    @media (max-width: 700px) {
        gap: 96vw;
    }
}
