.MissionAndPurpose__listItem {
    background-color: $navy;
    color: $white;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 14px 0;

    @media screen and (max-width: 700px){
        height: 90px;
    }

    @media screen and (max-width: 500px){
        height: 120px;
    }
}

.MissionAndPurpose__number {
    @include serif-font;
    color: $orange;
    font-size: 110px;
    padding-left: 5px;

    @media screen and (max-width: 700px){
        font-size: 90px;
    }
}

.MissionAndPurpose__content {
    padding: 0 12px;

    @media screen and (max-width: 700px){
        padding: 0 5px;
    }
}
