.site-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.site-nav-top {
    display: flex;
    flex-direction: column;
    width: 175px;
}

.site-nav-button {
    display: inline-block;
    padding: 5px 10px;
    border: #fff 1px solid;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1em;
    border-radius: var(--radius);
    opacity: 0.8;
}

.site-nav-button:hover {
    text-decoration: none;
}

.site-nav-item {
    display: inline-block;
    padding: 5px 10px;
    color: $navy;
    opacity: 0.8;
    font-weight: $bold;
}

.site-nav-item:hover {
    text-decoration: none;
    opacity: 1;
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.selectedNavItem {
    color: $orange;
    border-left: 3px solid $orange;
}

.selectedNavItem--blue {
    color: $blue;
    border-left: 3px solid $blue;
}

.site-nav-item-dropdown-trigger-block {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.site-nav-item-dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 15px;
    position: absolute;
    z-index: 20;
}

.site-nav-item-dropdown-menu.isMobile {
    background-color: $bg-gray;
    box-shadow: 0 8px 6px -6px $box-shadow-black;
}

.site-nav__dropdownIcon {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.site-nav__dropdownIcon--closed {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.site-mast-right .site-nav-item:last-child {
    padding-right: 0;
}
