.Navigation__topNavigationItem {
    display: inline-block;
    padding: 2px 10px;
    color: $navy;
    opacity: 0.8;
    font-weight: $bold;
}

.Navigation__topNavigationItem:hover {
    text-decoration: none;
    opacity: 1;
}

.Navigation__navigationItem--selected {
    color: $orange !important;
    border-left: 3px solid $orange;
}

.Navigation__navigationItem--selected--blue {
    color: $blue;
    border-left: 3px solid $blue;
}

.Navigation__navigationItemDropdownTriggerBlock {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.Navigation__navigationItemDropdownMenu {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 15px;
    position: absolute;
    z-index: 20;
}

.Navigation__navigationItemDropdownMenu.isMobile {
    background-color: $bg-gray;
    box-shadow: 0 8px 6px -6px $box-shadow-black;
}

.Navigation__navigationDropdownIcon {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.Navigation__navigationDropdownIcon--closed {
    transform: rotate(90deg);
    transition: transform 0.3s;
}
