.PageAbout__container {
    display: flex;
    flex-direction: column;
}

.PageAbout__navBlock {
    margin-bottom: 2em;
}

.PageAbout__navBlock > * {
    padding: 0 15px;
    border-left: 3px solid $light-blue;
    color: $navy;
    font-weight: $bold;
}

.PageAbout__navBlock > :first-child {
    border-left: none;
    padding-left: 0;
}

.PageAbout__fullHeightSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.PageAbout__whoWeAreTextBlock {
    background-color: $navy;
    color: $bg-gray !important;
}

.PageAbout__whoWeAreParallaxBlock {
    position: relative;
    bottom: 200vh;
}

.PageAbout__parallax {
    display: flex;
    justify-content: space-between;
    margin: 0 -20vw;
    position: relative;
}

.PageAbout__principlesImages {
    display: flex;

    @media screen and (max-width: 1040px) {
        flex-direction: column;
    }
}

.PageAbout__principlesImg {
    height: 130px;
    margin: 10px 0;

    @media screen and (max-width: 580px) {
        height: 100px;
    }

    @media screen and (max-width: 420px) {
        height: 85px;
    }
}

.PageAbout__principlesImgWrapper {
    width: 50%;
}
