.PageDevPortal__block {
    display: flex;

    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
}

.PageDevPortal__content {
    padding-left: 16px;
}

.PageDevPortal__header {
    color: $blue;
    line-height: 1;
    padding-bottom: 16px;
}

.PageDevPortal__title {
    margin-bottom: 0;
    @include minor-title;
}

.PageDevPortal__subTitle {
    font-size: 15px;
}

.PageDevPortal__button {
    background-color: $blue;
    padding: 0 40px 0 8px;
    color: $white;
    font-weight: bold;
    font-size: 15px;
    width: fit-content;
    margin-bottom: 16px;
    background-image: url("/images/icons/arrow-btn-dark.svg");
    height: 34px !important;

    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 22px;
    text-underline: none;

    transition: background-color 0.2s linear;

    &:hover {
        text-decoration: none;
        background-color: $dark-blue;
    }
}
