.TeamProfiles__block {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.TeamProfiles__block > * {
    margin: 15px 15px 0 0;
    box-shadow: 0 0 0 0 $box-shadow-black;
    cursor: pointer;
    transition: box-shadow 0.3s linear;

    &:hover {
        box-shadow: 4px 4px 6px 0px $box-shadow-black-dark;
    }
}

.TeamProfiles__imageBlock {
    position: relative;
    width: 250px;
    height: 300px;
}

.TeamProfiles__image {
    filter: grayscale(100%);
    min-width: 250px;
    min-height: 300px;
    margin-right: 16px;
}

.TeamProfiles__imageOverlayBlock {
    position: absolute;
    bottom: 5px;
    margin: 0 5px;
    width: calc(100% - 15px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.TeamProfiles__name {
    @include minor-title;
    text-shadow: 1px 1px 8px #000;
    color: $white;
    padding-right: 10px;
}

.TeamProfiles__arrow {
    height: 40px;
    width: 40px;
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.TeamProfiles__arrow.active {
    transition: transform 0.3s linear;
}

.TeamProfiles__descriptionBlock {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: $navy;
    background-color: $bg-gray-transparent;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TeamProfiles__descriptionBlock--inner {
    padding: 40px;
    background-color: $bg-gray-transparent;

    @media (max-width: 700px) {
        height: 100vh;
        padding: 20px
    }
}

.TeamProfiles__closeIcon {
    padding: 10px;
    font-size: 25px;
    font-weight: $bold;
    text-align: right;
    cursor: pointer;
    justify-self: flex-end;
    color: $navy;
    transition: color 0.3s linear;

    &:hover {
        color: $blue;
    }
}

.TeamProfiles__selectedProfileBlock {
    display: flex;
    max-height: 500px;

    @media (max-width: 700px) {
        flex-direction: column;
        max-height: 80vh;
    }
}

.TeamProfiles__selectedProfileImage {
    filter: grayscale(100%);
    min-width: 250px;
    min-height: 300px;
    margin-right: 30px;

    @media (max-width: 700px) {
        width: 166px !important;
        height: 200px !important;
        min-width: 166px;
        min-height: 200px;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.TeamProfiles__selectedProfileName {
    @include subheader-font;
    @include serif-font;
    padding-top: 10px;
    margin-bottom: 15px;
    color: $orange;
}

.TeamProfiles__descriptionTextBlock {
    display: flex;
    flex-direction: column;
    overflow: auto;

    @media (max-width: 700px) {
        flex-direction: column;
        max-height: 80vh;
    }
}

.TeamProfiles__description {
    color: $navy;
}

.TeamProfiles__description > :last-child {
    margin-bottom: 0;
}
