.WhoWeAreProfiles__blockSubtitle {
    @include subheader-font;
}

.WhoWeAreProfiles__topBlock {
    display: flex;
    flex-direction: column;
}

.WhoWeAreProfiles__block {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.WhoWeAreProfiles__block > * {
    margin: 15px 15px 0 0;
    cursor: pointer;
}

.WhoWeAreProfiles__imageBlock {
    position: relative;
}

.WhoWeAreProfiles__image {
    filter: grayscale(100%);
}

.WhoWeAreProfiles__name {
    @include minor-title;
    position: absolute;
    text-shadow: 1px 1px 8px #000;
    bottom: 5px;
    margin-left: 5px;
    max-width: 240px;
}

.WhoWeAreProfiles__arrow {
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 40px;
    width: 40px;
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.WhoWeAreProfiles__arrow.active {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}

.WhoWeAreProfiles__descriptionBlock {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: $navy;
    background-color: $bg-gray-transparent;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WhoWeAreProfiles__description {
    padding: 40px;
    background-color: $bg-gray-transparent;
}

.WhoWeAreProfiles__description > :last-child {
    margin-bottom: 0;
}

.WhoWeAreProfiles__closeIcon {
    padding: 10px;
    font-size: 25px;
    font-weight: $bold;
    text-align: right;
    cursor: pointer;
    justify-self: flex-end;
}
