.WhoWeArePostCard__topBlock {
    display: flex;
    flex-direction: column;
}

.WhoWeArePostCard__topBlock > :first-child {
    margin-top: 0;
}

.WhoWeArePostCard__blockSubtitle {
    @include section-header;
}
