.WhoWeAreProfiles__blockSubtitle {
    @include subheader-font;
}

.WhoWeAreProfiles__topBlock {
    display: flex;
    flex-direction: column;
}

.WhoWeAreProfiles__topBlock > :first-child {
    margin-top: 0;
}

.WhoWeAreProfiles__block {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.WhoWeAreProfiles__block > * {
    margin: 15px 15px 0 0;
    box-shadow: 0 0 0 0 $box-shadow-black;
    cursor: pointer;
    transition: box-shadow 0.3s linear;

    &:hover {
        box-shadow: 4px 4px 6px 0px $box-shadow-black-dark;
    }
}

.WhoWeAreProfiles__imageBlock {
    position: relative;
}

.WhoWeAreProfiles__image {
    filter: grayscale(100%);
}

.WhoWeAreProfiles__imageOverlayBlock {
    position: absolute;
    bottom: 5px;
    margin: 0 5px;
    width: calc(100% - 15px);
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.WhoWeAreProfiles__name {
    @include minor-title;
    text-shadow: 1px 1px 8px #000;
    color: $white;
    padding-right: 10px;
}

.WhoWeAreProfiles__arrow {
    height: 40px;
    width: 40px;
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.WhoWeAreProfiles__arrow.active {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}

.WhoWeAreProfiles__descriptionBlock {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: $navy;
    background-color: $bg-gray-transparent;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WhoWeAreProfiles__descriptionBlock--inner {
    padding: 40px;
    background-color: $bg-gray-transparent;
}

.WhoWeAreProfiles__closeIcon {
    padding: 10px;
    font-size: 25px;
    font-weight: $bold;
    text-align: right;
    cursor: pointer;
    justify-self: flex-end;
    color: $navy;
    transition: color 0.3s linear;

    &:hover {
        color: $blue;
    }
}

.WhoWeAreProfiles__selectedProfileBlock {
    display: flex;
}

.WhoWeAreProfiles__selectedProfileImage {
    filter: grayscale(100%);
    margin-right: 30px;
}

.WhoWeAreProfiles__selectedProfileName {
    @include subheader-font;
    @include serif-font;
    margin-bottom: 15px;
    color: $orange;
}

.WhoWeAreProfiles__descriptionTextBlock {
    display: flex;
    flex-direction: column;
}

.WhoWeAreProfiles__description {
    color: $navy;
}

.WhoWeAreProfiles__description > :last-child {
    margin-bottom: 0;
}
