@import "./styles/colors";
@import "./styles/typography";
@import "./styles/base";
@import "./styles/Layout";
@import "./styles/Index";
@import "./styles/Footer";
@import "./styles/IndexPostCard";
@import "./styles/FaqPostCard";
@import "./styles/PageAbout";
@import "./styles/WhoWeAreProfiles";
@import "./styles/WhoWeArePostCard";
@import "./styles/PostCard";
@import "./styles/PostBio";

body {
    max-width: 1800px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 15px 0 20px -2px #c7c5c5,-15px 0 20px -2px #c7c5c5;
}

h1 {
    @include serif-font;
}
