.site-banner {
  max-width: 80%;
  text-align: left;
}

.site-banner-title {
  margin: 0;
  padding: 20px 0 0 0;
  color: #142f3f;
  font-size: 6.5rem;
  line-height: 1.1em;
  width: 80%;
  font-family: PlayfairDisplay;
}
@media (max-width: 480px) {
  .site-banner-title {
    font-size: 4rem;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .site-banner-title {
    font-size: 5.5rem;
  }
}

.site-banner-desc {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.4em;
  color: #142f3f;
  opacity: 0.7;
  width: 70%;
}
@media (max-width: 768px) {
  .site-banner-desc {
    width: 100%;
  }
}

.Layout__arrowButton {
  transform: rotate(135deg);
  height: 75px;
  width: 75px;
  margin-top: 15px;
  margin-left: -12px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 4vw;
}

.body-block {
  padding: 3em 0;
}
@media (max-width: 768px) {
  .body-block {
    padding: 1.5em 0;
  }
}

.site-main {
  padding: 3vw 0;
}

.site-main-home {
  margin-top: 0;
  padding: 0;
}

.viewport {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.viewport-top {
  position: relative;
  z-index: 2;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cursor--small {
  width: 10px;
  height: 10px;
  left: -5px;
  top: -5px;
  border-radius: 50%;
  z-index: 11000;
  background: #469abd;
}

.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

.Index__blockCustomCursor,
.Index__blockCustomCursor a,
.Index__blockCustomCursor .ContentCard__block {
  cursor: none;
}

.Index__partnersLogosBlock {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 100px;
}

.alice-carousel__dots,
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.Header__parallaxBlock {
  position: absolute;
  top: 0;
  width: 100vw;
  pointer-events: none;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: center;
=======
>>>>>>> 716206e (tags fixed)
}

.Header__block {
  display: flex;
  justify-content: space-between;
}

.site-head {
  padding-top: 20px;
  padding-bottom: 20px;
}

<<<<<<< HEAD
.Header__parallaxBlock--front {
  z-index: 20;
=======
.Header__parallax--front {
  z-index: 20;
  position: inherit;
>>>>>>> a9ec9df (parallax working as desired in who we are)
  width: 100vw;
}

.Header__parallax {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1050px;
}
@media (max-width: 1119px) {
  .Header__parallax {
    gap: 90vw;
  }
}
@media (max-width: 700px) {
  .Header__parallax {
    gap: 96vw;
  }
}

.site-logo {
  height: 50px;
  padding-left: 20px;
}

.site-mast {
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
}

.site-mast-right {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.site-nav-top {
  display: flex;
  flex-direction: column;
}

.site-nav-button {
  display: inline-block;
  padding: 5px 10px;
  border: #fff 1px solid;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1em;
  border-radius: var(--radius);
  opacity: 0.8;
}

.site-nav-button:hover {
  text-decoration: none;
}

.site-nav-item {
  display: inline-block;
  padding: 5px 10px;
  color: #142f3f;
  opacity: 0.8;
  font-weight: 600;
}

.site-nav-item:hover {
  text-decoration: none;
  opacity: 1;
}

.site-nav-icon {
  height: 15px;
  margin: -5px 0 0;
}

.selectedNavItem {
  color: #f6695d;
  border-left: 3px solid #f6695d;
}

.site-mast-right .site-nav-item:last-child {
  padding-right: 0;
}

.Footer__block {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: yellow;
  padding: 10px 20px;
}

.site-foot-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-foot-nav a {
  color: rgba(255, 255, 255, 0.7);
}

.site-foot-nav a:hover {
  text-decoration: none;
  color: white;
}

.site-foot-nav-right a {
  display: inline-block;
  padding: 2px 5px;
}

.site-foot-nav-right a:last-child {
  padding-right: 0;
}

.ContentCard__block {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  margin-left: calc((100vw - 1120px)/2 + 4vw);
  width: calc(96vw - (100vw - 1120px)/2);
}
@media (max-width: 1119px) {
  .ContentCard__block {
    margin-left: 4vw;
    width: 95vw;
  }
}

.ContentCard__blockTitle {
  font-size: 36px;
  font-weight: 600;
  font-family: PlayfairDisplay;
  margin: 0;
  line-height: 1;
}

.ContentCard__item {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  height: auto;
  padding: 15px;
  margin: 0 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.ContentCard__cardNumber {
  text-align: right;
  color: #c4c4c4;
  font-family: PlayfairDisplay;
  font-size: 26px;
  font-weight: 600;
}

.ContentCard__title {
  color: #469abd;
  font-size: 22px;
  font-weight: 600;
}

.ContentCard__text {
  font-family: PlayfairDisplay;
  flex-grow: 1;
}

.ContentCard__button {
  align-self: flex-end;
}

.ContentCard__clickDrag {
  height: 100px;
  width: auto;
  align-self: center;
}

.FaqPostCard__questionBlock {
  cursor: pointer;
  background-color: #c4c4c4;
  padding: 1em;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FaqPostCard__question {
  margin: 0;
}

.FaqPostCard__dropdownIcon {
  font-size: 24px;
}

.FaqPostCard__dropdownIcon.isClosed {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.FaqPostCard__dropdownIcon.isOpen {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.FaqPostCard__answer {
  text-align: left;
}

<<<<<<< HEAD
<<<<<<< HEAD
.PageAbout__h1 {
  font-size: 26px;
  font-weight: 600;
  border-left: 3px solid #f6695d;
  color: #142f3f;
  padding-left: 15px;
  margin: 0;
}

=======
>>>>>>> 4192fcb (wip)
.PageAbout__navBlock {
  margin-bottom: 2em;
}

=======
>>>>>>> 309dd38 (toggle working on who we are and other additions)
.PageAbout__navBlock > * {
  padding: 0 15px;
  border-left: 3px solid #9ed7e0;
  color: #142f3f;
  font-weight: 600;
}

.PageAbout__navBlock > :first-child {
  border-left: none;
  padding-left: 0;
}

.PageAbout__fullHeightSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
<<<<<<< HEAD
  padding-bottom: 50px;
=======
  padding-bottom: 4em;
>>>>>>> 309dd38 (toggle working on who we are and other additions)
}

.PageAbout__whoWeAreTextBlock {
  background-color: #142f3f;
  color: #f8f8f7 !important;
}

.PageAbout__whoWeAreParallaxBlock {
  position: relative;
  bottom: 200vh;
}

.PageAbout__parallax {
  display: flex;
  justify-content: space-between;
  margin: 0 -20vw;
  position: relative;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 309dd38 (toggle working on who we are and other additions)
.PageAbout__sectionHeader {
  font-size: 5rem;
  font-family: PlayfairDisplay;
}

.PageAbout__sectionHeader--orange {
  color: #f6695d;
}

.WhoWeAreProfiles__blockSubtitle {
  font-size: 30px;
  font-weight: 600;
}

.WhoWeAreProfiles__block {
  position: relative;
  display: flex;
  width: 70vw;
}

.WhoWeAreProfiles__block > * {
  margin-right: 15px;
  cursor: pointer;
}

<<<<<<< HEAD
.WhoWeAreProfiles__imageBlock {
=======
.WhoWeAreProfiles__ImageBlock {
>>>>>>> 309dd38 (toggle working on who we are and other additions)
  position: relative;
}

.WhoWeAreProfiles__image {
  filter: grayscale(100%);
}

.WhoWeAreProfiles__name {
  font-size: 22px;
  font-weight: 600;
<<<<<<< HEAD
  position: absolute;
  text-shadow: 1px 1px 8px #000;
=======
  text-shadow: 1px 1px 8px #000;
  position: absolute;
>>>>>>> 309dd38 (toggle working on who we are and other additions)
  bottom: 5px;
  margin-left: 5px;
  max-width: 240px;
}

<<<<<<< HEAD
.WhoWeAreProfiles__arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 45px;
  width: 45px;
  transform: rotate(45deg);
}

=======
>>>>>>> 309dd38 (toggle working on who we are and other additions)
.WhoWeAreProfiles__description {
  margin-top: 15px;
  color: #142f3f;
  background-color: #f8f8f7;
  padding: 40px;
<<<<<<< HEAD
  height: 250px;
  overflow-y: auto;
=======
  display: none;
}

.WhoWeAreProfiles__description.visible {
  display: block;
>>>>>>> 309dd38 (toggle working on who we are and other additions)
}

.WhoWeAreProfiles__description > :last-child {
  margin-bottom: 0;
}

<<<<<<< HEAD
=======
>>>>>>> 4192fcb (wip)
=======
>>>>>>> 309dd38 (toggle working on who we are and other additions)
/*# sourceMappingURL=App.css.map */
