@import "./styles/colors";
@import "./styles/typography";
@import "./styles/Layout";
@import "./styles/Index";
@import "./styles/Header";
@import "./styles/Navigation";
@import "./styles/Footer";
@import "./styles/FooterNavigation";
@import "./styles/IndexPostCard";
@import "./styles/Faq";
@import "./styles/About";
@import "./styles/WhoWeAreProfiles";
@import "./styles/Blog";

body {
    max-width: 1800px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 15px 0 20px -2px #c7c5c5,-15px 0 20px -2px #c7c5c5;
}

h1 {
    @include serif-font;
}

.parallax-outer {
    //width: 50px;
}
